---
import { LocalCart } from "../components/local-cart.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cart" description="Dounut | Cart">
  <div class="lg:container mx-auto w-full lg:px-0 px-5">
    <LocalCart client:visible />
  </div>
</Layout>
