---
import { CheckoutForm } from "../components/checkout";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Checkout" description="Checkout using a dummy method.">
  <div class="lg:container mx-auto w-full lg:px-0 px-4">
    <CheckoutForm client:load />
  </div>
</Layout>
